#Full{
    height: 1580px;
}
.upper{
   background-color: black;
   height: 480px;
   width: 1100px;
   margin-left: 75px;
   border-radius: 20px;
}
#bigtxt{
    color: aliceblue;
    font-size: 55px;
}
#para1{
    color: aliceblue;
}
.txt{
    width:500px;
    padding-left: 90px;
}
.imag{
    width: 500px;
    padding-left: 100px;
}
.img1{
    height: 430px;
    margin-top: 49px;
}
#btn{
    background-color: red;
    border-radius: 10px;
    width: 180px;
    height: 50px;
    padding-bottom: 55px;
}
.upper1{
    display: flex;
}

.down{
    margin-top: 80px;
    height: 480px;
   width: 1100px;
   margin-left: 75px;
}
.leftside{
    background-color: black;
    height: 218px;
    width: 210px;
    grid-template-columns: repeat(3,1fr);
    border-radius: 10px;
}
.btnl{
    height:45px ;
    width: 170px;
    margin-left: 19px;
    margin-top: 19px;
    border-radius: 8px;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
}
#btn4{
    background-color: red;
}
.sample{
    height: 295px;
    width:280px;
    background-color:white;
    border: solid 1px #dedcdc;
    border-radius: 5px;
    padding-left: 8px;
    margin-left: 10px;
}  
.blogimg{
    width: 272px;
} 
#logo1{
    display: flex;
    margin-bottom: 5px;
}
#timeH{
    margin-bottom: 25px;
    margin-top:0px;
    margin-left: 3px;
}
#timelogo{
    height: 25px;
    width:25px
}
#cmnt{
    margin-bottom: 25px;
    margin-top:0px;
    margin-left: 3px;
}
#chatlogo{
    height: 25px;
    width:25px
}
#logo2{
    display: flex;
    margin-bottom: 5px;
    margin-left: 35px;
}
#logos{
    display: flex;
}
#transfer{
    background-color:white;
    width: 90px;
    height: 28px;
    font-weight: 600;
    border: solid 1px black;
    border-radius: 5px;
    margin-top: 9px;
}
.right_side1{
   display: flex;
   margin-left: 5px;
   margin-top: 10px;
}
#down_all{
    display:flex;
}
#ftr{
    height: 300px;
    background-color: rgb(23, 23, 22);
}
#goaltxt{
    color:white;
    margin-left: 45%;
    margin-bottom: -30px;
}
#goal{
    padding-top: 70px;
}
#hrline{
    margin-top: 50px;
    width: 80%;
   background-color:white;
   border:solid 1px rgb(48, 48, 48);

}
#lastall{
    color: rgb(154, 149, 149);
    display: flex;
    margin-left: 220px;
}
.lasttxt{
    margin-left:50px ;
}